@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  background-color: transparent;
  font-family: 'Varela Round', sans-serif;
}

#landingpage {
  height: 100vh;
  display: flex;
  align-items: center;
}

#hero {
  background-color: transparent;
}
#navbarLogo {
  height: 100%;
  width: 100%
}

#heroImage {
  width: 50%;
  height: 50%;
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
}

#heroLine {
  text-align: center;
  color: #FFFAFA;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  font-family: 'Varela Round';
}

#heroButton {
  border-radius: 5px;
}

#features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  -moz-box-shadow: 0 0 5px #222;
  -webkit-box-shadow: 0 0 5px #222;
  box-shadow: 0 0 5px #222;
  font-family: 'Varela Round', sans-serif;
}


#featureHeader {
  margin-top: 2em;
}

#featuresImage {
  width: 55%;
  height: 55%;
  max-width: 55%;
}

#featuresList {
  font-size: 25px;
}

#featuresBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}


#team {
  background: transparent;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 10em;
  color: #FFFAFA;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  bottom: 10px;
  font-family: 'Varela Round', sans-serif;
}

.teamProfiles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em; 
}

.teamPhoto {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  margin-bottom: 1em;
  z-index: 2;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.individualProfile {
  flex-direction: column;
}

.gitProfile {
  margin: 5px;

}

.linkedinProfile {
  margin: 5px;
}


.heroWaves {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #55BEC7 20%, #1E3677 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}


@media only screen and (max-width: 812px) {
  
}